amqp==2.6.1
asgiref==3.2.10
billiard==3.6.3.0
celery==4.4.6
certifi==2020.6.20
chardet==3.0.4
dj-database-url==0.5.0
Django==3.1.1
easy-notifyer==0.1.2
feedparser==6.0.0
future==0.18.2
h11==0.9.0
httpcore==0.10.2
httpx==0.14.3
idna==2.10
kombu==4.6.11
pydantic==1.6.1
pytz==2020.1
rfc3986==1.4.0
sgmllib3k==1.0.0
sniffio==1.1.0
soupsieve==2.0.1
sqlparse==0.3.1
vine==1.3.0
