[Unit]
Description=rss_bot_beat

[Service]
Type=idle
EnvironmentFile=/super_dir/rss_bot/deploy/.env
Environment="PYTHONPATH=/super_dir/rss_bot/"
WorkingDirectory=/super_dir/rss_bot/
ExecStart=/usr/bin/env bash -c "PATH=.venv/bin:$PATH exec ./bin/start_beat.sh"
User=ubuntu
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
