DEBUG=False
SECRET_KEY=very_secret_key
LOGLEVEL=INFO

# bot
RSS_BOT_TOKEN=''

# Celery
RSS_BOT_BROKER=amqp://guest:guest@127.0.0.1:5672/
RSS_BOT_PORT=11002
RSS_BOT_CONCURRENCY=1
INTERVAL_BEAT_HOUR=*  # hour https://docs.celeryproject.org/en/latest/userguide/periodic-tasks.html#crontab-schedules
INTERVAL_BEAT_MINUTE=*/5  # minute

ATTEMPT_REQUEST=5
DELAY_REQUEST=3
COUNT_TITLE_SYMBOL=100
COUNT_TEXT_SYMBOL=250
COUNT_ARTICLE_UPDATE=5
COUNT_FEED_FOR_ADD=10

# easy_notifyer
EASY_NOTIFYER_SERVICE_NAME=rss_bot
EASY_NOTIFYER_TELEGRAM_TOKEN=99999999999:example_token_notification
EASY_NOTIFYER_TELEGRAM_CHAT_ID=126471094
